.venv/
__pycache__/
main/__pycache__/
__pycache__


.venv/
.venv

*.pyc
__pycache__/

instance/
instance

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.env/
.env

van-rental-manager/.env




# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# Flask instance folder
instance/

# Environment variables
.env

# Flask mail logs (if any)
mail.log

# Other files and directories
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
